img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 300px;
    margin-top: 200px;
}
input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 350px;
    padding: 3px;
}
div{
    text-align: center;
    margin: 10px;
}
button{
    border: solid gray 2px;
}